healthmonitoringNode-Red.json
[{"id":"c1a208e3.114308","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"c1a208e3.114308","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"c1a208e3.114308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":60,"wires":[]},{"id":"52149bd8.f4e494","type":"ibmiot in","z":"c1a208e3.114308","authentication":"apiKey","apiKey":"dc40e3.a0ee2f2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":180,"wires":[["1064d08c.5a8d4f","cb6fd418.03f8c8","a3818ce8.8766a","e1f7d0bd.3892","f2f2649a.0d0d98"]]},{"id":"1064d08c.5a8d4f","type":"function","z":"c1a208e3.114308","name":"Temparature","func":"global.set('temperature',msg.payload=msg.payload.Temperature)\nmsg.payload=global.get(\"temperature\")\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["f2f2649a.0d0d98"]]},{"id":"cb6fd418.03f8c8","type":"function","z":"c1a208e3.114308","name":"Pulse","func":"global.set('pulse',msg.payload=msg.payload.Pulse);\nmsg.payload=global.get('pulse');\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["f2f2649a.0d0d98"]]},{"id":"a3818ce8.8766a","type":"function","z":"c1a208e3.114308","name":"Sys","func":"global.set('sys',msg.payload=msg.payload.Sys);\nmsg.payload=global.get('sys');\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["f2f2649a.0d0d98"]]},{"id":"e1f7d0bd.3892","type":"function","z":"c1a208e3.114308","name":"Dia","func":"global.set('dia',msg.payload=msg.payload.Dia);\nmsg.payload=global.get('dia');\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["f2f2649a.0d0d98"]]},{"id":"148b4e48.9a0812","type":"http in","z":"c1a208e3.114308","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["5236980.792f968"]]},{"id":"8e359367.bd236","type":"http response","z":"c1a208e3.114308","name":"","statusCode":"","headers":{},"x":480,"y":400,"wires":[]},{"id":"5236980.792f968","type":"function","z":"c1a208e3.114308","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),\"pulse\":global.get(\"pulse\"),\"sys\":global.get(\"sys\"),\"dia\":global.get(\"dia\")};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["8e359367.bd236"]]},{"id":"dc40e3.a0ee2f2","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]